# System files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.dev
.env.prod

# Dependencies
/node_modules

# Build output
/dist
/out
/.cache

# Miscellaneous
*.pem
